*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#4ca9df), to(#292e91));
  background: linear-gradient(#4ca9df, #292e91);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

p {
  font-family: "Roboto", sans-serif;
}

.landing_page {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landing_page .landing_page--container {
  margin-top: -50px;
  height: calc(300px + 3vw);
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing_page .landing_page--container__heading {
  width: 100%;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing_page .landing_page--container__heading p:first-child {
  font-size: calc(25px + 0.5vw);
  color: white;
  font-weight: 700;
}

.landing_page .landing_page--container__heading p:last-child {
  font-size: calc(7px + 0.4vw);
  color: white;
  font-weight: 300;
}

.landing_page .landing_page--container__input {
  padding: 0 10px;
  width: 100%;
  margin-top: calc(10px + 0.3vw);
}

.landing_page .landing_page--container__input p {
  color: white;
  font-size: 18px;
}

.landing_page .landing_page--container__input--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
}

.landing_page .landing_page--container__input--container input {
  width: calc(160px + 4vw);
  padding: 10px 20px;
  border-radius: 6px;
  background-color: rgba(237, 237, 237, 0.63);
}

.landing_page .landing_page--container__input--container button {
  width: calc(100px + 2.5vw);
  padding: 10px 20px;
  border: 0px;
  border-radius: 6px;
  background-color: #de5a21;
  color: white;
  cursor: pointer;
}

.user_details {
  height: 700px;
  width: 700px;
  background: -webkit-gradient(linear, left top, left bottom, from(#292e91), to(#4ca9df));
  background: linear-gradient(#292e91, #4ca9df);
  overflow: hidden;
  position: absolute;
  top: 20%;
  left: 70%;
  -webkit-transform: rotate(45deg) translate(-20px, -200px) scale(1);
          transform: rotate(45deg) translate(-20px, -200px) scale(1);
}

.user_details--card {
  position: absolute;
  top: 22%;
  left: 81%;
  height: 350px;
  width: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#5258d348), to(rgba(26, 74, 101, 0.192)));
  background: linear-gradient(#5258d348, rgba(26, 74, 101, 0.192));
  -webkit-box-shadow: 1px 1px 6px 3px #242220;
          box-shadow: 1px 1px 6px 3px #242220;
}

.profile {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile_avatar img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.profile_name {
  margin: 10px 0 0 0;
  color: rgba(255, 255, 255, 0.801);
}

.profile_bio {
  border-bottom: 1px white solid;
}

.profile_bio p {
  padding: 10px;
}

.profile_info {
  padding: 0 10px;
  border-bottom: 1px white solid;
}

.profile_button {
  width: 80%;
  margin: 10px 0;
}

.profile_button button {
  width: 100%;
  padding: 5px;
  background-color: #de5a21;
  border: 0px;
  -webkit-box-shadow: 0px 0px 2px 2px #7700ff;
          box-shadow: 0px 0px 2px 2px #7700ff;
  cursor: pointer;
  position: relative;
}

.profile_button--container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #4ca9df;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  z-index: -1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(1, 0, 0, 1);
  transition: -webkit-transform 0.5s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.5s cubic-bezier(1, 0, 0, 1);
}

.profile_button--container {
  z-index: 1;
}

.profile_button--container:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main_page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main_page--container {
  height: 80vh;
  margin-top: 40px;
  width: 90%;
}

.main_page--container__butttons {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main_page--container__butttons p {
  font-size: 30px;
}

.main_page--container__butttons button {
  padding: 5px 30px;
  color: white;
  background-color: #de5a21;
  border: 0px;
  cursor: pointer;
}

.main_page--container__butttons button:hover {
  background-color: yellowgreen;
}

.main_page--container__box {
  min-height: 100%;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_page--container__box--avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -50px;
}

.main_page--container__box--avatar img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.main_page--container__box--avatar h4 {
  font-size: calc(20px + 0.5vw);
}

.main_page--container__box--repoDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main_page--container__box--repoDetails h5 {
  font-size: calc(25px + 1vw);
  text-align: center;
}

.main_page--container__box--repoDetails p {
  font-size: 18px;
  background-color: #c4c4c4;
  margin-right: 20px;
  padding: 5px 10px;
}

@media screen and (max-width: 700px) {
  .main_page--container__box--repoDetails p {
    padding: 2px 5px;
    font-size: 12px;
  }
}

.main_page--container__box--repoDetails__folowers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_page--container__box--repoDetails__following {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_page--container__box--repoDetails__repositories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_page--container__moreInfo {
  margin: 40px 0;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 700px) {
  .main_page--container__moreInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main_page--container__moreInfo--container {
  padding: 30px;
  -ms-flex-preferred-size: 525px;
      flex-basis: 525px;
  border: 1px solid #c4c4c4;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 700px) {
  .main_page--container__moreInfo--container {
    padding: 10px;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
}

.main_page--container__moreInfo--container__email_n_organization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0;
}

@media screen and (max-width: 700px) {
  .main_page--container__moreInfo--container__email_n_organization {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main_page--container__moreInfo--container__location_n_doj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0;
}

@media screen and (max-width: 700px) {
  .main_page--container__moreInfo--container__location_n_doj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main_page--container__moreInfo--container__twitter_n_website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0 0 0;
}

@media screen and (max-width: 700px) {
  .main_page--container__moreInfo--container__twitter_n_website {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main_page--container__moreInfo--bio {
  padding: 30px;
  border: 1px solid #c4c4c4;
  -ms-flex-preferred-size: 525px;
      flex-basis: 525px;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .main_page--container__moreInfo--bio {
    -ms-flex-preferred-size: 125px;
        flex-basis: 125px;
  }
}

.main_page--container__moreInfo--bio p:last-child {
  margin-top: 20px;
}

.main_page--doj {
  margin-right: 30px;
}

.main_page--website {
  margin-right: -10px;
}
/*# sourceMappingURL=stylePage.css.map */