*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#4CA9DF), to(#292E91));
  background: linear-gradient(#4CA9DF, #292E91);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

p {
  font-family: 'Roboto', sans-serif;
}

.landing_page {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landing_page .landing_page--container {
  margin-top: -50px;
  height: calc(300px + 3vw);
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing_page .landing_page--container__heading {
  height: 70px;
  width: 100%;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing_page .landing_page--container__heading p:first-child {
  font-size: calc(25px + 0.5vw);
  color: white;
  font-weight: 700;
}

.landing_page .landing_page--container__heading p:last-child {
  font-size: calc(7px + 0.4vw);
  color: white;
  font-weight: 300;
}

.landing_page .landing_page--container__input {
  padding: 0 10px;
  width: 100%;
  margin-top: calc(10px + 0.3vw);
}

.landing_page .landing_page--container__input p {
  color: white;
  font-size: 18px;
}

.landing_page .landing_page--container__input--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
}

.landing_page .landing_page--container__input--container input {
  width: calc(160px + 4vw);
  padding: 10px 20px;
  border-radius: 6px;
  background-color: rgba(237, 237, 237, 0.63);
}

.landing_page .landing_page--container__input--container button {
  width: calc(100px + 2.5vw);
  padding: 10px 20px;
  border: 0px;
  border-radius: 6px;
  background-color: #DE5A21;
  color: white;
  cursor: pointer;
}

.user_details {
  height: 700px;
  width: 700px;
  background: -webkit-gradient(linear, left top, left bottom, from(#292E91), to(#4CA9DF));
  background: linear-gradient(#292E91, #4CA9DF);
  overflow: hidden;
  position: absolute;
  top: 20%;
  left: 70%;
  -webkit-transform: rotate(45deg) translate(-20px, -200px) scale(1);
          transform: rotate(45deg) translate(-20px, -200px) scale(1);
}

.user_details--card {
  position: absolute;
  top: 22%;
  left: 81%;
  height: 350px;
  width: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#5258d348), to(rgba(26, 74, 101, 0.192)));
  background: linear-gradient(#5258d348, rgba(26, 74, 101, 0.192));
  -webkit-box-shadow: 1px 1px 6px 3px #242220;
          box-shadow: 1px 1px 6px 3px #242220;
}

.profile {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile_avatar img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.profile_name {
  margin: 10px 0 0 0;
  color: rgba(255, 255, 255, 0.801);
}

.profile_bio {
  border-bottom: 1px white solid;
}

.profile_bio p {
  padding: 10px;
}

.profile_info {
  padding: 0 10px;
  border-bottom: 1px white solid;
}

.profile_button {
  width: 80%;
  margin: 10px 0;
}

.profile_button button {
  width: 100%;
  padding: 5px;
  background-color: #DE5A21;
  border: 0px;
  -webkit-box-shadow: 0px 0px 2px 2px #7700ff;
          box-shadow: 0px 0px 2px 2px #7700ff;
  cursor: pointer;
  position: relative;
}

.profile_button--container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #4CA9DF;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  z-index: -1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(1, 0, 0, 1);
  transition: -webkit-transform 0.5s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.5s cubic-bezier(1, 0, 0, 1);
}

.profile_button--container {
  z-index: 1;
}

.profile_button--container:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
/*# sourceMappingURL=stylePage.css.map */